.additional-products__wrapper {
  padding: 0 20px;
}

.additional-products__container-title {
  width: calc(100% + 20px);
  background-image: linear-gradient(transparent 50%, #68b738 50%, #68b738 52%, transparent 52%, transparent 100%);
}

.additional-products__title {
  width: 75%;
  margin: 0;
  padding-bottom: 36px;
  padding-top: 25px;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
  border-top: 1px solid #d9d9d9;
}

.additional-products__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 1px solid #d9d9d9;
}

.additional-products__list-title {
  width: 100%;
  margin: 0;
  margin-top: 13px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  text-transform: uppercase;
}

.additional-products__text {
  margin: 0;
  margin-top: 13px;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}

.additional-products__button {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 19px;
  padding: 10px 0;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.additional-products__gift-container {
  margin-top: 35px;
  font-family: "Oswald", sans-serif;
  line-height: 14px;
  background-image: linear-gradient(#68b738d9, #68b738d9), url("./../img/image/gift.jpg");
  background-repeat: no-repeat;
  background-size: auto 280px;
  background-position-x: center;
  color: #ffffff;
  text-align: center;
}

.additional-products__gift-images {
  padding-top: 59px;
}

.additional-products__gift-text {
  width: 180px;
  margin: 0 auto;
  padding-top: 48px;
  padding-bottom: 43px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
