.catalog__decor {
  width: 320px;
  margin: 0;
  margin-top: 15px;
}

.catalog__title {
  text-align: center;
  margin-top: 27px;
  margin-bottom: 41px;
  line-height: 36px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  padding-top: 20px;
  padding-bottom: 25px;
}

.card__container-images {
  display: inherit;
  width: 140px;
}

.card__images {
  margin: auto;
}

.card__title {
  width: 76px;
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
}

.card__title-button {
  display: inline-block;
  margin-top: 25px;
}

.card__list {
  display: flex;
  flex-wrap: wrap;
  width: 140px;
  margin: 0;
  margin-top: 14px;
  justify-content: space-between;
}

.card__item-dt {
  width: 70px;
  text-align: left;
  font-size: 12px;
  line-height: 16px;
}

.card__item {
  width: 70px;
  margin: 0;
  text-align: end;
  font-size: 12px;
  line-height: 16px;
}

.card__button {
  margin-top: 17px;
  padding: 10px 109px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.card__container-title {
  margin: 0;
  margin-top: 23px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
}

.card__container-text {
  margin: 0;
  margin-top: 8px;
  font-size: 12px;
  line-height: 16px;
}

.card__decor {
  width: 320px;
  margin: 0;
  background-color: #ebebeb;
}

.card__container {
  margin: 0 auto;
  text-align: center;
}

.card__container-button {
  margin-top: 21px;
  padding: 10px 94px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  background-color: #f2f2f2;
  color: #444444;
}

.card__decor-title {
  width: 30px;
  height: 2px;
  margin: -17px auto;
  background-color: #d3d3d3;
  border: none;
}

.card__decor-title-vertical {
  width: 2px;
  height: 30px;
  margin: 0 auto;
  background-color: #d3d3d3;
  border: none;
}
