@media (min-width: @tablet-width) {
  .catalog {
    padding: 0 30px;

    @media (min-width: @Intermediate-width) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @media (min-width: @desktop-width) {
      margin-top: 75px;
      padding: 0 110px;
    }
  }
}

.catalog__title {
  margin: 0;
  margin-bottom: 40px;
  padding: 0 20px;
  padding-top: 28px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  color: #000000;
  text-align: start;
  border-top: 1px solid #d9d9d9;

  @media (min-width: @tablet-width) {
    margin: 0;
    margin-top: 65px;
    margin-bottom: 86px;
    padding: 0;
    font-size: 60px;
    line-height: 1;
    border: none;
  }

  @media (min-width: @Intermediate-width) {
    grid-column: 1/4;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1/5;
    margin-top: 74px;
  }
}

@media (min-width: @tablet-width) {
  .catalog__container-product {
    display: flex;
    flex-wrap: wrap;
    gap: 62px 60px;

    @media (min-width: @desktop-width) {
      padding-top: 8px;
      gap: 73px 80px;
    }
  }
}

.card {
  display: flex;
  padding: 0 20px;
  padding-top: 21px;
  padding-bottom: 24px;
  border-top: 1px solid #ebebeb;

  @media (min-width: @tablet-width) {
    display: flex;
    width: 324px;
    padding: 0;
    border: none;
    background-image: linear-gradient(#ffffff 15.3%, #f2f2f2 15.3%, #f2f2f2 100%);
  }

  @media (min-width: @desktop-width) {
    width: 245px;
    padding: 0;
    background-image: linear-gradient(#ffffff 13.3%, #f2f2f2 13.3%, #f2f2f2 100%);
  }
}

.card__container {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  text-align: center;

  @media (min-width: @tablet-width) {
    padding: 10px 37px 40px 37px;
  }

  @media (min-width: @desktop-width) {
    display: block;
    margin: 0;
    padding: 0 38px 40px 38px;
  }
}

.card__products {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: @tablet-width) {
    width: 322px;
    margin-top: 83px;
    border: 1px solid #d9d9d9;
  }

  @media (min-width: @desktop-width) {
    width: 243px;
    margin-top: 70px;
    padding: 0;
  }
}

.card__products-container {
  text-align: center;

  @media (min-width: @desktop-width) {
    padding: 38px 37.5px 37.5px 37px;
  }
}

.card__container-text {
  width: 100%;
  margin: 0;
  margin-top: 8px;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: @tablet-width) {
    width: 170px;
    margin: 0 auto;
    margin-top: 23px;
    font-size: 16px;
    line-height: 18px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 26px;
  }
}

.card__container-button {
  margin-top: 21px;
  margin-bottom: 24px;
  padding: 10px 94px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  background-color: #f2f2f2;
  color: #444444;

  @media (min-width: @tablet-width) {
    padding: 10px 80px;
    margin-top: 83px;
  }

  @media (min-width: @desktop-width) {
    padding: 13px 39px;
    margin-bottom: 0;
    margin-top: 86px;
  }
}

@media (min-width: @tablet-width) {
  .card__container-images {
    display: flex;
    width: 200px;
    height: 210px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;

    @media (min-width: @desktop-width) {
      width: 169px;
      margin: 0;
    }
  }
}

.card__container-images img {
  height: auto;

  @media (min-width: @tablet-width) {
    width: auto;
  }
}

.card__title {
  margin: 0;
  width: 90px;
  height: 40px;
  text-align: left;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    margin: 0 auto;
    margin-left: 49px;
    width: 150px;
    margin-top: 20px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    margin-top: 11px;
  }
}

.card__title-button {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-bottom: 23px;

  @media (min-width: @tablet-width) {
    width: 60px;
    height: 60px;
    margin-top: 34px;
    margin-bottom: 59px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.card__title-button::after {
  content: "";
  position: relative;
  display: block;
  top: 39px;
  border-bottom: 2px solid #d3d3d3;
}

.card__title-button::before {
  content: "";
  position: relative;
  display: block;
  top: 39px;
  transform: rotate(90deg);
  border-bottom: 2px solid #d3d3d3;
}

.card__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -56px;
  margin-left: 50%;

  @media (min-width: @tablet-width) {
    margin: 0;
    gap: 8px 15px;
    margin-top: 29px;
  }

  @media (min-width: @desktop-width) {
    width: 169px;
    margin: 0;
    margin-top: 32px;
    gap: 7px 15px;
  }
}

.card__list-container {
  display: flex;
  justify-content: space-between;
  width: 140px;

  @media (min-width: @tablet-width) {
    width: 250px;
    padding-bottom: 3px;
    border-bottom: 1px solid #d9d9d9;
  }

  @media (min-width: @desktop-width) {
    width: 169px;
    padding-bottom: 5px;
    border-bottom: none;
  }
}

.card__item-dt {
  font-size: 12px;
  line-height: 16px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.card__item {
  font-size: 12px;
  line-height: 16px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.card__button {
  margin-top: 6px;
  padding: 10px 109px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;

  @media (min-width: @tablet-width) {
    display: flex;
    margin-top: 32px;
    justify-content: center;
    padding: 10px 94px;
  }

  @media (min-width: @desktop-width) {
    padding: 10px 53px;
    margin-top: 39px;
  }
}

.card__container-title {
  margin: 0;
  margin-top: 23px;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 0 80px;
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    margin-top: 47px;
  }
}
