@media (min-width: @tablet-width) {
  .catalog {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 30px;
    gap: 60px;

    @media (min-width: @Intermediate-width) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @media (min-width: @desktop-width) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      padding: 0 110px;
    }
  }
}

.catalog__title {
  margin: 0;
  margin-bottom: 41px;
  padding: 0 20px;
  padding-top: 27px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  color: #000000;
  text-align: start;
  border-top: 1px solid #d9d9d9;

  @media (min-width: @tablet-width) {
    margin: 0;
    margin-top: 65px;
    padding: 0;
    font-size: 60px;
    line-height: 1;
    border: none;
    grid-column: 1/3;
  }

  @media (min-width: @Intermediate-width) {
    grid-column: 1/4;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1/5;
    margin-top: 74px;
  }
}

.card {
  padding: 0 20px;
  padding-top: 20px;
  padding-bottom: 25px;
  border-top: 1px solid #ebebeb;

  @media (min-width: @tablet-width) {
    width: 324px;
    padding: 0;
    border: none;
    background-image: linear-gradient(#ffffff 17%, #f2f2f2 17%, #f2f2f2 100%);
  }

  @media (min-width: @desktop-width) {
    width: 245px;
    padding: 0;
  }
}

.card__container {
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr;

  @media (min-width: @tablet-width) {
    padding: 10px 37px 40px 37px;
  }

  @media (min-width: @desktop-width) {
    display: block;
    padding: 0 38px 40px 38px;
  }
}

.card__products {
  border: 1px solid #d9d9d9;

  @media (min-width: @tablet-width) {
    margin-top: 88px;
    padding: 0 28px;
  }

  @media (min-width: @desktop-width) {
    width: 245px;
    margin-top: 81px;
    padding: 0;
  }
}

.card__products-container {
  text-align: center;

  @media (min-width: @desktop-width) {
    padding: 50px 37.5px 37.5px 40px;
  }
}

.card__container-text {
  width: 100%;
  margin: 0;
  margin-top: 8px;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: @tablet-width) {
    width: 170px;
    margin: 0 auto;
    margin-top: 23px;
    font-size: 16px;
    line-height: 18px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 26px;
  }
}

.card__container-button {
  margin-top: 21px;
  margin-bottom: 24px;
  padding: 10px 94px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  background-color: #f2f2f2;
  color: #444444;

  @media (min-width: @tablet-width) {
    padding: 11px 80px;
    margin-top: 42px;
  }

  @media (min-width: @desktop-width) {
    padding: 11px 38px;
    margin-bottom: 0;
    margin-top: 70px;
  }
}

.card__container-images {
  display: grid;
  width: 140px;
  grid-column: 1 /2;
  grid-row: 1 / 3;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    height: 200px;
    grid-column: 1 /3;
    grid-row: 1 / 2;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.card__images {
  margin: auto;
}

.card__title {
  margin: 0;
  padding-right: 64px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  grid-column: 2 / 3;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    grid-column: 1 / 3;
    margin: 0 auto;
    margin-top: 22px;
    padding: 0 50px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    margin-top: 12px;
    padding: 0 36px;
  }
}

.card__title-button {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-bottom: 23px;

  @media (min-width: @tablet-width) {
    width: 60px;
    height: 60px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.card__title-button::after {
  content: "";
  position: relative;
  display: block;
  top: 30px;
  border-bottom: 2px solid #d3d3d3;
}

.card__title-button::before {
  content: "";
  position: relative;
  display: block;
  top: 32px;
  transform: rotate(90deg);
  border-bottom: 2px solid #d3d3d3;
}

.card__list {
  display: grid;
  width: 100%;
  margin: 0;
  margin-top: 14px;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr;

  @media (min-width: @tablet-width) {
    grid-column: 1 /3;
    margin-top: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 23.5px;
  }
}

.card__item-dt {
  text-align: left;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: @tablet-width) {
    width: 130%;
    padding-top: 5px;
    font-size: 16px;
    line-height: 20px;
    border-top: 1px solid #d9d9d9;

    &:first-child {
      border: none;
      padding-top: 0;
    }
  }
}

.card__item {
  margin: 0;
  text-align: end;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: @tablet-width) {
    padding-top: 5px;
    font-size: 16px;
    line-height: 20px;
    border-top: 1px solid #d9d9d9;

    &:nth-child(2) {
      border: none;
      padding-top: 0;
    }
  }
}

.card__button {
  margin-top: 17px;
  padding: 10px 109px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  grid-column: 1 / -1;

  @media (min-width: @tablet-width) {
    display: flex;
    margin-top: 32px;
    justify-content: center;
  }

  @media (min-width: @desktop-width) {
    padding: 10px 53px;
  }
}

.card__container-title {
  margin: 0;
  margin-top: 23px;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 0 45px;
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    margin-top: 12px;
  }
}

@media (max-width: @tablet-width) {
  .card__images-tablet {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .card__images {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .card__images {
    display: none;
  }
}

