.contacts {
  background-color: #f2f2f2;
}

.contacts__container-text {
  display: flex;
  padding: 26px 20px;
}

.contacts__warning {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
}

.contacts__warning-text {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.contacts__container-images {
  display: flex;
}

.contacts__container-imag {
  position: relative;
  top: 135px;
  right: 60%;
}
