.example {
  margin-top: 49px;
  background-color: #eaeaea;
}

.example__wrapper {
  padding: 25px 20px;
}

.example__text {
  margin: 0;
  margin-top: 40px;
}

.example__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: space-between;
  text-align: center;
}

.example__item {
  width: 124px;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
}

.example__warning {
  margin: 0;
  padding-top: 14px;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}

.example__warning-text {
  margin: 0;
  padding-top: 8px;
  padding-left: 22px;
  padding-right: 25px;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 12px;
}

.example__wrapper-text-summa {
  margin: 0;
  margin-top: 20px;
  text-align: center;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}
