.form__container {
  padding: 27px 20px;
}

.form__wrapper-title {
  line-height: 36px;
}

.form__decor {
  width: 100%;
  margin-top: 15px;
}

.form__wrapper-text {
  margin: 0;
  margin-top: 37px;
  padding-right: 54px;
  font-family: "Oswald", sans-serif;
  color: #000000;
  text-transform: uppercase;
}

.form__wrapper-form {
  margin-top: 26px;
}

.radio__list {
  margin-top: 22px;
}

.form__item {
  display: flex;
  margin-top: 13px;
}

.form__text {
  margin: auto 0;
  margin-right: 13px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}

.form__text-input {
  width: 100%;
  padding: 14px 15px 13px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}

.radio {
  margin: 0;
}

.radio__decoration {
  width: 100%;
}

.radio__control {
  position: relative;
  display: block;
  padding-left: 38px;
  margin-bottom: 25px;
}

.radio__mark-radio {
  position: absolute;
  top: -6px;
  left: -3px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #cdcdcd;
}

.radio__input[type="radio"]:checked + .radio__mark-radio::before,
.radio__input[type="radio"]:checked + .radio__mark-radio::after {
  position: absolute;
  content: "";
  top: 8px;
  left: 9px;
  width: 13px;
  height: 13px;
  background-color: #68b738;
  border-radius: 50%;
}

.radio__radio-text {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}

.form-contacts {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  border: none;
  border-top: 2px solid #68b738;
}

.form-contacts__title {
  width: 195px;
  padding: 0;
  padding-top: 24px;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 26px;
  text-align: left;
  color: #000000;
}

.form-contacts__list {
  margin-top: 35px;
}

.form-contacts__text {
  margin: auto 0;
  margin-right: 13px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}

.form-contacts__input {
  padding: 14px 15px 13px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
}

.form-contacts__images-email {
  padding-right: 50px;
  background-image: url("../img/png/email-stroke 1.png");
  background-repeat: no-repeat;
  background-position-x: 180px;
  background-position-y: center;
}

.form-contacts__images-tel {
  padding-right: 34px;
  background-image: url("../img/png/tel.png");
  background-repeat: no-repeat;
  background-position-x: 170px;
  background-position-y: center;
}

.form-contacts__item {
  margin-bottom: 13px;
}

.form-contacts__item:last-child {
  margin-bottom: 0;
}

.form-Comment {
  margin: 0;
  padding: 0;
  border: none;
  border-top: 2px solid #68b738;
}

.form-Comment__title {
  width: 159px;
  margin-bottom: 38px;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 26px;
  text-align: left;
  color: #000000;
}

.form-Comment__text {
  margin-bottom: 23px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
}

.checkbox {
  margin: 0;
  padding: 0;
  border: none;
  border-top: 2px solid #68b738;
}

.checkbox__title {
  width: 170px;
  margin-bottom: 34px;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 26px;
  text-align: left;
  color: #000000;
}

.checkbox__control {
  position: relative;
  display: block;
  padding-left: 38px;
  margin-bottom: 25px;
}

.checkbox__mark {
  position: absolute;
  top: -6px;
  left: -3px;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
}

.checkbox__input[type="checkbox"]:checked + .checkbox__mark::before,
.checkbox__input[type="checkbox"]:checked + .checkbox__mark::after {
  position: absolute;
  content: "";
  top: 8px;
  left: 9px;
  width: 13px;
  height: 13px;
  background-image: url("../img/png/сheck-mark.png");
  background-repeat: no-repeat;
}

.checkbox__text {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}

.form__button {
  width: 100%;
  margin-top: 9px;
  padding: 7px;
  line-height: 20px;
}

.form__container-text {
  margin: 0;
  margin-top: 21px;
  margin-bottom: 13px;
  text-align: center;
  line-height: 16px;
  color: #000000;
}
