.how-it-works__wrapper {
  margin: 20px;
}

.how-it-works__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  gap: 20px 0;
}

.how-it-works__item {
  display: flex;
}

.how-it-works__text {
  margin: 0;
  margin-left: 20px;
}

.how-it-works__images {
  padding: 13px;
  background-color: #68b738;
}

