.main-footer {
  background-color: #f2f2f2;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    display: flex;
    padding: 57px 30px;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    padding: 68px 110px;
    margin-top: 72px;
  }
}

.main-footer__logo-itam {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 18px;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 0;
  }
}

.main-footer__logo-text {
  display: block;
}


.main-footer__contacts-list {
  display: flex;
  flex-wrap: wrap;
  width: 132px;
  gap: 28px;
  padding: 16px 0;
  padding-top: 23px;
  margin: 0 auto;
  border-top: 1px solid #d9d9d9;

  @media (min-width: @tablet-width) {
    margin: 0;
    margin-left: 36px;
    padding: 0;
    border: none;
    margin-top: 2px;
  }
}

.main-footer__container-logo {
  border-top: 1px solid #d9d9d9;

  @media (min-width: @tablet-width) {
    border: none;
  }
}

.main-footer__logo-html {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 40px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  justify-content: space-between;
  color: #444444;

  @media (min-width: @tablet-width) {
    margin: 0;
    gap: 23px;
  }
}

.main-footer__logo-html-text {
  display: block;
  margin: auto 0;
}
