.promo__wrapper {
  background-image: linear-gradient(rgb(104, 183, 56, 0.85), rgb(104, 183, 56, 0.85)), url("./../img/image/desktop.jpg");
  background-repeat: no-repeat;
  background-size: auto 302px;
  line-height: 14px;
  font-family: "Oswald", sans-serif;
  color: #ffffff;
  text-align: center;
}
