.promo {
  background-image: linear-gradient(#469317d9, #469317d9 64%, transparent 64%, transparent 100%);

  @media (min-width: @tablet-width) {
    background-image: none;
  }

  @media (min-width: @desktop-width) {
    background-image: none;
    margin-bottom: -195px;
  }
}

.promo__wrapper {
  background-image: linear-gradient(#68b738d9, #68b738d9,), url("./../img/image/desktop.jpg");
  background-repeat: no-repeat;
  background-size: auto 302px;
  background-position-x: center;
  line-height: 14px;
  font-family: "Oswald", sans-serif;
  color: @basic-white;

  @media (min-width: @tablet-width) {
    color: @lightgrey;
    text-align: start;
    background-image: none;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    top: -200px;
    background-image: linear-gradient(#68b738d9, #68b738d9), url("./../img/png/index-background-desktop 1.png");
    background-position-x: 700px;
    background-size: auto 716px;
    z-index: 0;
  }
}

.promo__title {
  width: calc(100% - 40px);
  min-height: 72px;
  margin: 0 auto;
  padding-top: 27px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;

  @media (min-width: @tablet-width) {
    width: 70%;
    min-height: 120px;
    margin: 0;
    padding: 0;
    margin-left: 120px;
    margin-top: 65px;
    font-size: 60px;
    line-height: 1;
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    width: 33%;
    position: relative;
    top: 250px;
    margin-left: 190px;
  }
}

.promo__text {
  width: calc(100% - 40px);
  margin: 0 auto;
  padding-top: 25px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    width: 70%;
    padding: 0;
    margin-left: 120px;
    margin-top: 40px;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    width: 30%;
    position: relative;
    top: 250px;
    margin-left: 190px;
  }
}

.promo__link-button {
  display: block;
  width: 88%;
  margin: 0 auto;
  margin-top: 3px;
  padding: 7px 0;
  text-align: center;

  @media (min-width: @tablet-width) {
    display: inline;
    position: relative;
    bottom: 580px;
    left: 120px;
    padding: 14px 26px;
  }

  @media (min-width: @desktop-width) {
    bottom: 170px;
    margin-left: 70px;
  }
}

.promo__container-images {
  display: block;
  margin: 0 auto;
  margin-top: 29px;

  @media (min-width: @tablet-width) {
    margin-top: 21px;
    margin-left: 30px;
    width: 709px;
    height: 609px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    margin-left: 557px;
    width: 552px;
    height: 499px;
  }
}
