body {
  display: flex;
  margin: 0 auto;
  width: 100%;
  min-width: 320px;
  min-height: 100%;
  flex-direction: column;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Lato", sans-serif;
  color: #444444;

  @media (min-width: @tablet-width) {
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    max-width: 1440px;
  }
}
